.display{
  display: flex;

}
.display-billionair{
   display:  flex;
   flex-wrap: wrap;
   width: 70%;

}
.display-billionair h3{
  width: 200px;
  color: tomato;
  background-color: black;
  margin-right: 5px;
}
